/* Fonts */
.roboto{
    font-family: 'Roboto', sans-serif;
}
.bebas-neue{
    font-family: 'Bebas Neue', cursive;
}
/* Colors */
.dark{
    color: #3C3C3C !important;
}
.orange{
    color: #FA804C;
}
.off-white{
    background-color: #F1F1F1;
}
.purple{
    color: #363958;
}
.gray{
    color: #3E3E3E;
}
.linear-purple{
    background-image: linear-gradient(#3D4FF3, #3543BC);
}
.bg-orange{
    background-color: #FFF9F4 !important;
}
/* Border */
.rounded-6{
    border-radius: 25px;
}